{% extends "subscriber_facing/base.html" %}
{% load md %}
{% load mutable_url %}
{% load render %}
{% load tz %}
{% load localize %}
{% block extra_head %}
    {% include "subscriber_facing/snippets/metadata/email.html" %}
{% endblock extra_head %}
{% block content %}
    <div class="app{% if email.status == 'suppressed' %} suppressed{% endif %}">
        <article class="email-body">
            {% include "subscriber_facing/snippets/email_detail_header.html" with newsletter=newsletter %}
            {% if show_teaser %}
                <div class="email-body-paywall">{{ email.rendered_html_for_teaser|safe }}</div>
                <div class="card-container card-container--paywalled">
                    <div class="card-container-header">{% localized "email.premium.cta.read_full_issue" newsletter.locale %}</div>
                    {% if not newsletter.should_be_private %}
                        {% if subscriber %}
                            {% include "subscriber_facing/snippets/upsell.html" %}
                        {% else %}
                            {% include "subscriber_facing/snippets/subscribe_form.html" %}
                            <script nonce="{{ CSP_NONCE }}">var VARIANT = 'paywalled_archive_page';</script>
                        {% endif %}
                    </div>
                {% endif %}
            {% else %}
                {% include "subscriber_facing/snippets/email--content.html" with newsletter=newsletter email=email subscriber=subscriber %}
                <div class="card-container">
                    <p>
                        {% if email.status == 'draft' %}
                            {% localized 'web.email.issue_summary.draft' newsletter.locale %}
                        {% elif newsletter.should_hide_issue_numbers %}
                            {% localized 'web.email.issue_summary.no_issue_number' newsletter.locale %}
                        {% elif email.secondary_id %}
                            {% localized 'web.email.issue_summary.with_issue_number' newsletter.locale %}
                        {% endif %}
                        {% if "archives" in newsletter.enabled_features %}
                            {% mutable_url 'public-archive' newsletter.username as archive_url %}
                            {% localized 'web.email.issue_summary.archives_link' newsletter.locale %}
                        {% endif %}
                    </p>
                </div>
                {% if not newsletter.should_be_private %}
                    {% include "subscriber_facing/snippets/subscribe_form.html" %}
                {% endif %}
                {% include "subscriber_facing/snippets/related_emails.html" %}
                {% include "subscriber_facing/snippets/attachments.html" %}
                {% include "subscriber_facing/snippets/share_form.html" with title=email.subject url=email.get_absolute_url newsletter=newsletter %}
                {% include "subscriber_facing/muromachi/partials/comments.html" %}
            {% endif %}
        </article>
    </div>
    {% include "subscriber_facing/snippets/hidden_email_message.html" %}
    {% include "subscriber_facing/snippets/footnotes.html" %}
    {% include "subscriber_facing/snippets/bluesky_embeds.html" %}
{% endblock content %}
