.attachment {
  display: flex;
  align-items: center;
}

.attachment-content {
  flex: 1;
  margin-left: 1rem;
}

.attachment-link {
  background-color: var(--tint-color);
  color: var(--color-background);
  display: inline-block;
  text-decoration: none;
  padding: calc(var(--space) / 2) calc(var(--space) * 2);
  border-radius: 9999px;
  font-size: var(--font-size-small);
  font-weight: bold;
}
