:root {
  --featured-color: #fef9c3;
  --featured-color-border: #f59e0b40;
  --featured-color-icon: #eab308;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-featured: oklch(28.6% 0.066 53.813);
    --color-featured-border: oklch(40.2% 0.105 61.876);
    --color-featured-icon: oklch(76.9% 0.188 70.08);
  }
}

.email.featured {
  background-color: var(--color-featured);
  padding: 1rem !important;
  border: var(--color-featured-border) 1px solid !important;
  z-index: 10;
  margin-bottom: 1rem;
  margin-top: 1rem;
  position: relative;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.email.featured h2 {
  margin-top: 0;
}

@media (min-width: 640px) {
  .email.featured {
    border-radius: 0.5rem;
  }
}

.pin-icon {
  fill: var(--color-featured-icon) !important;
}
