.related-email.title {
  margin-bottom: calc(var(--space));
}

.related-emails-widget {
  font-family: var(--font-brand);
}

.related-email-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: calc(var(--space));
  gap: calc(var(--space));
}

@media (min-width: 600px) {
  .related-emails-widget {
    gap: calc(var(--space) * 2);
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
  }
}

.related-email {
  flex-basis: 0;
  flex-grow: 1;
  margin-bottom: 0;
  font-family: var(--font-brand);
  font-size: var(--font-size-small);
  transition: all 0.2s ease-in-out;
  border: 1px solid var(--color-background-offset);
  background-color: var(--color-background-card);
  border-radius: calc(var(--space) / 2);

  > a {
    text-decoration: none !important;
  }
  p {
    /* I regret to inform you that this !important is needed to override another !important */
    font-size: medium !important;
    color: var(--color-foreground) !important;
  }
}

.related-email:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-color: var(--color-foreground-offset-2);
  margin-top: -2px;
  margin-bottom: 2px;
}

.related-email-title {
  margin: 0;
  color: var(--color-foreground) !important;
  font-size: var(--font-size-small);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.related-email-header-image {
  height: 175px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: calc(var(--space) * 2);
}

.related-email-image {
  max-height: 175px !important;
  width: 100% !important;
  object-fit: cover;
  border-top-left-radius: calc(var(--space) / 2);
  border-top-right-radius: calc(var(--space) / 2);
}

.related-email-cta {
  display: none;
}

.related-email-content {
  padding: calc(var(--space) / 2);
}

.related-email-description {
  margin-bottom: 0;
  margin-top: calc(var(--space) / 2);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.related-email-date {
  color: var(--color-foreground-offset);
  font-size: var(--font-size-extra-small);
}

.related-email:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.related-emails-title {
  font-family: var(--font-brand);
  color: var(--color-foreground-offset);
  font-size: var(--font-size-base);
  text-align: center;
  font-weight: 400;
  padding-bottom: calc(var(--space));
  text-align: center;
  margin-top: calc(var(--space) * 2);
  margin-bottom: 0;
}

.related-email-media {
  border-bottom: 1px solid var(--color-background-offset);
}
