.archive__social-share-link-container {
  border-radius: calc(var(--space));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(var(--space) / 2);
}

.archive__social-share-link-container:has(
    .archive__social-share-link:nth-child(2):last-child
  ) {
  grid-template-columns: repeat(2, 1fr);
}

.archive__social-share-link {
  text-decoration: none;
  text-align: center;
  background-color: var(--color-background-card);
  border: 1px solid var(--color-background-offset);
  font-family: var(--font-brand);
  color: var(--color-foreground);
  corner-shape: var(--corner-shape);
  border-radius: var(--space);
  font-size: var(--font-size-small);
  padding-top: calc(var(--space) / 2);
  padding-bottom: calc(var(--space) / 2);
  transition: all 0.2s ease;
}

.archive__social-share-link:hover {
  margin-top: -2px;
  margin-bottom: 2px;
  background-color: var(--color-background-card) !important;
  border-color: var(--color-foreground-offset);
}
