{% extends "subscriber_facing/base.html" %}
{% load render_markdown_for_web %}
{% load mutable_url %}
{% load localize %}
{% load render_subject %}
{% block extra_head %}
    {% include "subscriber_facing/snippets/metadata/subscribe.html" %}
{% endblock extra_head %}
{% block header_brand %}
    {% if newsletter.theme_configuration.heading_placement != 'content' %}{{ block.super }}{% endif %}
{% endblock header_brand %}
{% block content %}
    {{ newsletter_jsonld }}
    {% if newsletter.theme_configuration.heading_placement == 'content' %}
        <h1>{{ newsletter.name }}</h1>
    {% endif %}
    {% if newsletter.description %}
        <p>{% autoescape off %}{% render_markdown_for_web newsletter.description newsletter %}{% endautoescape %}</p>
    {% endif %}
        <h2>Subscribe</h2>
        {% include "subscriber_facing/snippets/subscribe_form.html" %}</li>
        
        {% comment %}
            Only show latest-issue / archive-link discovery widgets when the
            archive is publicly visible.
        {% endcomment %}
        {% if newsletter.is_archive_public %}
            {% if latest_public_email %}
                <h2>{% localized 'web.navigation.start_reading' newsletter.locale %}</h2>
                <ul>
                    <li>{% localized 'web.navigation.latest' newsletter.locale %} <a href="{{ latest_public_email.get_absolute_url }}">{{ latest_public_email.subject|render_subject:latest_public_email }}</a></li>
                    <li>{% localized 'web.navigation.all' newsletter.locale %} <a href='{% mutable_url "public-archive" newsletter.username %}'>{% localized 'web.navigation.archive' newsletter.locale %}</a></li>
                </ul>
            {% endif %}
        {% endif %}
    </ul>
{% endblock content %}
