@import "../../subscriber_facing/styles/variables.css";
@import "../../styles/vendor/pygments";
@import "../../subscriber_facing/styles/components/attachments.css";
@import "../../subscriber_facing/styles/components/base.css";
@import "../../subscriber_facing/styles/components/codehilite.css";
@import "../../subscriber_facing/styles/components/comments.css";
@import "../../subscriber_facing/styles/components/embeds.css";
@import "../../subscriber_facing/styles/components/featured.css";
@import "../../subscriber_facing/styles/components/nav.css";
@import "../../subscriber_facing/styles/components/pagination.css";
@import "../../subscriber_facing/styles/components/related-emails.css";
@import "../../subscriber_facing/styles/components/share.css";
@import "../../subscriber_facing/styles/components/subscribe-form.css";
@import "../../subscriber_facing/styles/components/youtube.css";

:root {
  --text-header-alignment: left;
}

.app-container {
  width: var(--width-content);
  max-width: calc(100% - var(--space) * 2);
  margin: 0 auto;
  flex: 1 0 auto;
}

blockquote {
  font-style: italic;
  background: var(--color-background-offset);
  padding: 1em;
  margin-left: 0;

  &.tiktok-embed {
    font-style: normal;
    background: none;
    padding: 0;
  }
}

.byline {
  text-align: left;
  font-weight: 300;
  margin-top: 0;
  font-size: 20px;
  color: var(--color-foreground-offset);
  text-transform: uppercase;
}

.email-detail {
  .description {
    margin-top: 0;
    font-weight: 400;
    font-size: 28px;
  }
}

.email-detail--teaser {
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.email-detail__header {
  margin-top: calc(var(--space) * 2);
  margin-bottom: calc(var(--space) * 2);
}

.email-metadata-read-more-link {
  background: var(--tint-color);
  color: #fff;
  padding: calc(var(--space) / 4) calc(var(--space) / 2);
  corner-shape: var(--corner-shape);
  border-radius: var(--space);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
  white-space: nowrap;
}

.email-metadata-read-more-link:hover {
  background: color-mix(in srgb, var(--tint-color) 80%, transparent);
}

.email-list-header {
  text-align: center;
}

.email-metadata {
  display: flex;
  align-items: center;
  font-family: var(--font-brand);
  color: var(--color-foreground-offset);
  border-top: 1px var(--color-background-offset) solid;
  gap: calc(var(--space));
  padding-top: calc(var(--space) / 2);
}

.email-metadata > div {
  display: flex;
  align-items: center;
  gap: calc(var(--space) / 4);
}

.email-metadata > div > div,
.email-metadata > div > svg {
  margin: 0;
}

.email-metadata svg {
  width: 20px;
}

.header-navigation-container {
  display: none;
}

input[type="submit"],
button,
.cta {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 1s cubic-bezier(0.6, 0, 0.4, 1) 0s;
  z-index: 1;
  opacity: 1;
  border: 1px var(--tint-color) solid;
  background: var(--tint-color);
  border-radius: 40px;
  padding: 8px 16px;
  flex: 1 1 auto;
  color: var(--color-background);
  line-height: 1.3;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;

  &[disabled] {
    opacity: 0.5;
  }
}

/* https://github.com/buttondown/roadmap/issues/711 */
.littlefoot-footnote__content {
  word-break: break-word;
}

/* Override properties that are set on `button` elements but break littlefoot. */
.littlefoot__button {
  max-width: max-content;
  z-index: 0;
}

.newsletter-icon {
  max-width: 100px !important;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.pagination {
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  padding: 15px;
  background: var(--color-background-offset);
}

.pagination svg {
  display: block;
  width: 24px;
  margin-right: calc(var(--space) / 4);
  margin-left: calc(var(--space) / 4);
}

.response-freeform-label {
  margin-top: 64px;
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: 400;
}

.newsletter {
  font-size: var(--font-size-large);
  font-family: var(--font-brand);
  text-decoration: none;
  color: var(--color-foreground);
  font-weight: 600;
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
  gap: calc(var(--space) / 2);
}

.newsletter .newsletter-icon {
  margin: 0;
  width: 24px;
  border: 1px solid var(--color-background-offset);
}

.email-metadata-divider {
  flex: 1;
}

@media (max-width: 600px) {
  .email-metadata svg {
    display: none;
  }
}
