@import "../../modern/assets/styles.css";

:root {
  --email-image-display: block;
  --email-description-display: none;
  --archive-column-count: 3;
  --archive-image-height: 300px;
}

.email-title {
  font-weight: bold;
  margin-bottom: calc(var(--space) / 4);
}

.email-image img {
  height: var(--archive-image-height);
  object-fit: cover;
  border-radius: calc(var(--space) / 2);
  overflow: hidden;
  border: 1px solid var(--color-foreground-offset-2);
}

.email-description {
  order: 2;
}

.email-image-placeholder,
.email-image img {
  margin-bottom: calc(var(--space) / 2);
}

.email-list {
  display: grid;
  grid-template-columns: repeat(var(--archive-column-count), 1fr);
  gap: calc(var(--space));
  width: calc(100vw - 2rem);
  max-width: none;
  padding-top: 0;
}
.email-list hr {
  display: none;
}
.email-image-placeholder {
  height: var(--archive-image-height);
  background-color: var(--color-background-offset);
  border-radius: calc(var(--space) / 2);
}

.email-header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.email-link .email-title,
.email-link .email-description,
.email-link .email-metadata {
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.email-link {
  display: grid;
  grid-template-areas:
    "image"
    "title"
    "description"
    "metadata";
}

.email-link .email {
  display: contents;
}

.email-link .email-header {
  display: contents;
}

.email-link .email-image {
  grid-area: image;
}

.email-link .email-title {
  grid-area: title;
}

.email-link .email-description {
  grid-area: description;
}

.email-link .email-metadata {
  grid-area: metadata;
}

.email-link:hover {
  background-color: inherit;
}

.email-image {
  display: block !important;
}
.email-image img {
  transition: all 0.2s ease-in-out;
}
.email-link:hover .email-title,
.email-link:hover .email-description,
.email-link:hover .email-metadata {
  color: var(--tint-color);
}
.email-link:hover .email-image img {
  outline: calc(var(--space) / 4) solid var(--tint-color);
}

/* Remove excess margin on featured/pinned posts in grid layout */
.email.featured {
  margin-top: 0;
}

/* Fix overly offset box shadows on popups and dialogs */
.modal-content,
.subscription-success-dialog {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.archive__pagination {
  display: flex;
  justify-content: center;
  margin-top: var(--space);
  width: 100%;
  padding: 0;
}
