{% extends "subscriber_facing/base.html" %}
{% load mdw %}
{% block extra_head %}
    {% include "subscriber_facing/snippets/metadata/subscribe.html" %}
{% endblock extra_head %}
{% block content %}
    {{ newsletter_jsonld }}
    <div class="subscribe-container">
        <div class="subscribe">
            {% if newsletter.icon %}
                <img class="newsletter-icon"
                     src="{{ newsletter.icon_url }}"
                     width="24"
                     height="24"
                     alt="">
            {% endif %}
            <h1 class="newsletter-name">{{ newsletter.name }}</h1>
            <div class="newsletter-description">{{ newsletter.description|mdw:newsletter|safe }}</div>
            {% include "subscriber_facing/snippets/subscribe_form.html" %}
        </div>
    </div>
{% endblock content %}
