@import "../../../subscriber_facing/styles/components/base.css";

:root {
  --text-header-alignment: left;
  --header-navigation-display: none;
}

.app-container {
  width: var(--width-content);
  max-width: calc(100% - var(--space) * 2);
  margin: 0 auto;
  flex: 1 0 auto;
}

blockquote {
  font-style: italic;
}

.email-detail__header {
  margin-top: calc(var(--space) * 2);
  margin-bottom: calc(var(--space) * 2);
}

.email-metadata-read-more-link {
  background: var(--tint-color);
  color: #fff;
  padding: calc(var(--space) / 4) calc(var(--space) / 2);
  corner-shape: var(--corner-shape);
  border-radius: var(--space);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: background 0.2s ease-in-out;
  white-space: nowrap;
}

.email-metadata-read-more-link:hover {
  background: color-mix(in srgb, var(--tint-color) 80%, transparent);
}

.email-metadata {
  display: flex;
  align-items: center;
  font-family: var(--font-brand);
  color: var(--color-foreground-offset);
  border-top: 1px var(--color-background-offset) solid;
  gap: calc(var(--space));
  padding-top: calc(var(--space) / 2);
}

.email-metadata > div {
  display: flex;
  align-items: center;
  gap: calc(var(--space) / 4);
}

.email-metadata svg {
  width: 20px;
}

.pagination {
  text-align: center;
  font-size: 14px;
  border-radius: 15px;
  padding: 15px;
  background: var(--color-background-offset);
}

.pagination svg {
  display: block;
  width: 24px;
  margin-right: calc(var(--space) / 4);
  margin-left: calc(var(--space) / 4);
}

.response-freeform-label {
  margin-top: 64px;
  margin-bottom: 8px;
  font-size: 1.2em;
  font-weight: 400;
}

.newsletter {
  font-size: var(--font-size-large);
  font-family: var(--font-brand);
  text-decoration: none;
  color: var(--color-foreground);
  font-weight: 600;
  font-size: var(--font-size-small);
  display: flex;
  align-items: center;
  gap: calc(var(--space) / 2);
}

.newsletter .newsletter-icon {
  margin: 0;
  width: 24px;
  border: 1px solid var(--color-background-offset);
}

.email-metadata-divider {
  flex: 1;
}

@media (max-width: 600px) {
  .email-metadata svg {
    display: none;
  }
}
